{
  "swagger": "2.0",
  "info": {
    "description": "Simple server in order to create and mantain CGA Survey",
    "version": "v1",
    "title": "CGA Survey",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "a@a.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/TrentoCrowdAI/CGA/blob/master/LICENSE"
    }
  },
  "host": "a.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "AdminApp",
      "description": "A set of APIs designed for administrate the projects"
    },
    {
      "name": "SurveyApp",
      "description": "A set of APIs designed for create/manage the projects"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/projects": {
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new project",
        "description": "Performed by a user when he wants to create a new project",
        "operationId": "addProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "project",
            "description": "Project object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the project"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the project"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/project"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all projects",
        "description": "Performed by a user in order to get all projects",
        "operationId": "getProjects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/projects/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get an project by the id",
        "description": "Performed by users in order to get specific project",
        "operationId": "getProject",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/project"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Project not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing project",
        "description": "Performed by a user in order to update the project",
        "operationId": "updateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Project object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the project in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the project"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the project"
                },
                "dataCollections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/dataCollection"
                  },
                  "description": "DataCollection that compose a project"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/role"
                  },
                  "description": "Roles assigned to the project"
                },
                "members": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/member"
                  },
                  "description": "Members of the project"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/project"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Project not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a Project by id",
        "description": "Performed by the user in order to delete the Project from the system",
        "operationId": "deleteProject",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/project"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Project not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/projects/{id}/dataCollections": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new DataCollection",
        "description": "Performed by a user when he wants to create a new DataCollection",
        "operationId": "addDataCollection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataCollection",
            "description": "DataCollection object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the dataCollection"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the dataCollection"
                },
                "type": {
                  "type": "string",
                  "description": "String that identy the type of the data collection"
                },
                "started": {
                  "$ref": "#/definitions/datetime"
                },
                "ended": {
                  "$ref": "#/definitions/datetime"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all dataCollection",
        "description": "Performed by a user in order to get all dataCollections",
        "operationId": "getAllDataCollections",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dataCollection"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/projects/{id1}/dataCollections/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The DataCollection id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get an DataCollection by the id",
        "description": "Performed by users in order to get specific DataCollection",
        "operationId": "getDataCollection",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing dataCollection",
        "description": "Performed by a user in order to update the dataCollection",
        "operationId": "updateDataCollection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Project object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the dataCollection in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the dataCollection"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the dataCollection"
                },
                "typology": {
                  "type": "string",
                  "description": "String that identy the type of the data collection"
                },
                "started": {
                  "$ref": "#/definitions/datetime"
                },
                "ended": {
                  "$ref": "#/definitions/datetime"
                },
                "surveys": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/survey"
                  },
                  "description": "Surveys that compose a dataCollection"
                },
                "subjects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/subject"
                  },
                  "description": "Subject assigned to the project"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a DataCollection by id",
        "description": "Performed by the user in order to delete the DataCollection from the system",
        "operationId": "deleteDataCollection",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/projects/{id}/members": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new member",
        "description": "Operation to call in order to create a new member in the system",
        "operationId": "addMember",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "member",
            "description": "Member object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "String that identify the status of the membership in the system"
                },
                "user": {
                  "$ref": "#/definitions/user"
                },
                "createdAt": {
                  "$ref": "#/definitions/datetime"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/member"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all member",
        "description": "Performed by a user in order to get all members",
        "operationId": "getAllMembers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/member"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/projects/{id1}/members/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The Member id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a member by the id",
        "description": "Performed by users in order to get specific member",
        "operationId": "getMember",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/member"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Member not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing Member",
        "description": "Performed by a user in order to update the Member",
        "operationId": "updateMember",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Member object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the membership in the system"
                },
                "status": {
                  "type": "string",
                  "description": "String that identify the status of the membership in the system"
                },
                "user": {
                  "$ref": "#/definitions/user"
                },
                "role": {
                  "$ref": "#/definitions/role"
                },
                "createdAt": {
                  "$ref": "#/definitions/datetime"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/member"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Member not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a Member by id",
        "description": "Performed by the user in order to delete the Member from the system",
        "operationId": "deleteMember",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/member"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Member not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/projects/{id}/roles": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new role",
        "description": "Operation to call in order to create a new Role in the system",
        "operationId": "addRole",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "role",
            "description": "Role object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the collectionRole"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the collectionRole"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all role",
        "description": "Performed by a user in order to get all role",
        "operationId": "getAllRole",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/role"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/projects/{id1}/roles/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The Project id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The Role id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a Role by the id",
        "description": "Performed by users in order to get specific Role",
        "operationId": "getRole",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing Role",
        "description": "Performed by a user in order to update the Role",
        "operationId": "updateRole",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Role object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the collectionRole in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the collectionRole"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the collectionRole"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a Role by id",
        "description": "Performed by the user in order to delete the Role from the system",
        "operationId": "deleteRole",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/dataCollections": {
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new DataCollection",
        "description": "Performed by a user when he wants to create a new DataCollection",
        "operationId": "addDataCollection2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "dataCollection",
            "description": "DataCollection object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the dataCollection"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the dataCollection"
                },
                "type": {
                  "type": "string",
                  "description": "String that identy the type of the data collection"
                },
                "started": {
                  "$ref": "#/definitions/datetime"
                },
                "ended": {
                  "$ref": "#/definitions/datetime"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all dataCollection",
        "description": "Performed by a user in order to get all dataCollections",
        "operationId": "getAllDataCollections2",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dataCollection"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/dataCollections/{id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The DataCollection id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get an DataCollection by the id",
        "description": "Performed by users in order to get specific DataCollection",
        "operationId": "getDataCollection2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing dataCollection",
        "description": "Performed by a user in order to update the dataCollection",
        "operationId": "updateDataCollection2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Project object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the dataCollection in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the dataCollection"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the dataCollection"
                },
                "typology": {
                  "type": "string",
                  "description": "String that identy the type of the data collection"
                },
                "started": {
                  "$ref": "#/definitions/datetime"
                },
                "ended": {
                  "$ref": "#/definitions/datetime"
                },
                "surveys": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/survey"
                  },
                  "description": "Surveys that compose a dataCollection"
                },
                "subjects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/subject"
                  },
                  "description": "Subject assigned to the project"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a DataCollection by id",
        "description": "Performed by the user in order to delete the DataCollection from the system",
        "operationId": "deleteDataCollection2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/dataCollection"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "DataCollection not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/dataCollections/{id}/surveys": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The dataCollection id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new survey",
        "description": "Performed by a user when he wants to create a new survey in order to collect patient data",
        "operationId": "addSurvey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "survey",
            "description": "Survey object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the survey"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the survey"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyComponent"
                  },
                  "description": "SurveyComponent that compose a survey"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all survey",
        "description": "Performed by a user in order to get all surveys",
        "operationId": "getSurveys",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/survey"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/dataCollections/{id1}/surveys/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The DataCollection id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The survey id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get an survey by the id",
        "description": "Performed by users in order to get specific survey",
        "operationId": "getSurvey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing survey",
        "description": "Performed by a user in order to update the survey",
        "operationId": "updateSurvey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Survey object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the survey in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the survey"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the survey"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyComponent"
                  },
                  "description": "SurveyComponent that compose a survey"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a survey by id",
        "description": "Performed by the user in order to delete the survey from the system",
        "operationId": "deleteSurvey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/dataCollections/{id}/subjects": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The dataCollection id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Add a new subject",
        "description": "Operation to call in order to create a new Subject in the system",
        "operationId": "addSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "subject",
            "description": "Subject object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the subject"
                },
                "location": {
                  "type": "string",
                  "description": "Location of the subject"
                },
                "contact": {
                  "type": "string",
                  "description": "Contact of the subject"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/subject"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all subject",
        "description": "Performed by a user in order to get all Subject",
        "operationId": "getAllSubjects",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/subject"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/dataCollections/{id1}/subects/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The dataCollection id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The Subject id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a Subject by the id",
        "description": "Performed by users in order to get specific Subject",
        "operationId": "getSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/subject"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Subject not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Update an existing Subject",
        "description": "Performed by a user in order to update the Subject",
        "operationId": "updateSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Subject object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the subject in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the subject"
                },
                "location": {
                  "type": "string",
                  "description": "Location of the subject"
                },
                "contact": {
                  "type": "string",
                  "description": "Contact of the subject"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/subject"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Subject not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Delete a Subject by id",
        "description": "Performed by the user in order to delete the Subject from the system",
        "operationId": "deleteSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "integer",
            "description": "The Project id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/subject"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Subject not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveys": {
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new survey",
        "description": "Performed by a user when he wants to create a new survey in order to collect patient data",
        "operationId": "addSurvey2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          },
          {
            "in": "body",
            "name": "survey",
            "description": "Survey object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the survey"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the survey"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyComponent"
                  },
                  "description": "SurveyComponent that compose a survey"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all survey",
        "description": "Performed by a user in order to get all surveys",
        "operationId": "getSurveys2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/survey"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveys/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The survey id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get an survey by the id",
        "description": "Performed by users in order to get specific survey",
        "operationId": "getSurvey2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing survey",
        "description": "Performed by a user in order to update the survey",
        "operationId": "updateSurvey2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Survey object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the survey in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the survey"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the survey"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyComponent"
                  },
                  "description": "SurveyComponent that compose a survey"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a survey by id",
        "description": "Performed by the user in order to delete the survey from the system",
        "operationId": "deleteSurvey2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/survey"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Survey not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveys/{id}/surveyComponents": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The survey id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new SurveyComponent",
        "description": "Performed by a user when he wants to create a new surveyComponent in order to collect patient data",
        "operationId": "addSurveyComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          },
          {
            "in": "body",
            "name": "SurveyComponent",
            "description": "SurveyComponent object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name thah describe the SurveyComponent"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItem"
                  },
                  "description": "Items that compose a surveyComponent"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/role"
                  },
                  "description": "Roles assigned to the surveyComponent"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all surveyComponent",
        "description": "Performed by a user in order to get all surveyComponent",
        "operationId": "getAllSurveyComponents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/surveyComponent"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveys/{id1}/surveyComponents/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The survey id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a SurveyComponent by the id",
        "description": "Performed by users in order to get specific SurveyComponent",
        "operationId": "getSurveyComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing SurveyComponent",
        "description": "Performed by a user in order to update the surveyComponent",
        "operationId": "updateSurveyComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "SurveyComponent object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the SurveyComponent"
                },
                "name": {
                  "type": "string",
                  "description": "Name thah describe the SurveyComponent"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItem"
                  },
                  "description": "Items that compose a surveyComponent"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/role"
                  },
                  "description": "Roles assigned to the surveyComponent"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Delete a SurveyItem by id",
        "description": "Performed by the user in order to delete the SurveyItem from the system",
        "operationId": "deleteSurveyComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataCollectionId",
            "required": true,
            "type": "integer",
            "description": "The dataCollection id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveyComponents": {
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new SurveyComponent",
        "description": "Performed by a user when he wants to create a new surveyComponent in order to collect patient data",
        "operationId": "addSurveyComponent2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "SurveyComponent",
            "description": "SurveyComponent object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name thah describe the SurveyComponent"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItem"
                  },
                  "description": "Items that compose a surveyComponent"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/role"
                  },
                  "description": "Roles assigned to the surveyComponent"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all surveyComponent",
        "description": "Performed by a user in order to get all surveyComponent",
        "operationId": "getAllSurveyComponents2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/surveyComponent"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveyComponents/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a SurveyComponent by the id",
        "description": "Performed by users in order to get specific SurveyComponent",
        "operationId": "getSurveyComponent2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing SurveyComponent",
        "description": "Performed by a user in order to update the surveyComponent",
        "operationId": "updateSurveyComponent2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "SurveyComponent object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the SurveyComponent"
                },
                "name": {
                  "type": "string",
                  "description": "Name thah describe the SurveyComponent"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItem"
                  },
                  "description": "Items that compose a surveyComponent"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/role"
                  },
                  "description": "Roles assigned to the surveyComponent"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Delete a SurveyItem by id",
        "description": "Performed by the user in order to delete the SurveyItem from the system",
        "operationId": "deleteSurveyComponent2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyComponent"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyComponent not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveyComponents/{id}/roles": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new role",
        "description": "Operation to call in order to create a new Role in the system",
        "operationId": "addRole2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "role",
            "description": "Role object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name assigned to the collectionRole"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the collectionRole"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all role",
        "description": "Performed by a user in order to get all role",
        "operationId": "getAllRole2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/role"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveyComponents/{id1}/roles/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The Role id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a Role by the id",
        "description": "Performed by users in order to get specific Role",
        "operationId": "getRole2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing Role",
        "description": "Performed by a user in order to update the Role",
        "operationId": "updateRole2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Role object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the collectionRole in the system"
                },
                "name": {
                  "type": "string",
                  "description": "Name assigned to the collectionRole"
                },
                "description": {
                  "type": "string",
                  "description": "String that describe the collectionRole"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Delete a Role by id",
        "description": "Performed by the user in order to delete the Role from the system",
        "operationId": "deleteRole2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/role"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "Role not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveyComponents/{id}/surveyItems": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new SurveyItem",
        "description": "Performed by a user when he wants to create a new SurveyItem",
        "operationId": "addSurveyItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "SurveyItem",
            "description": "SurveyItem object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/label"
                  },
                  "description": "Objects that allow the surveyItem to be displayed in different languages"
                },
                "type": {
                  "type": "string",
                  "description": "Name that identify the type of the surveyItemOption"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all surveyItem",
        "description": "Performed by a user in order to get all surveyItem",
        "operationId": "getAllSurveyItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/surveyItem"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveyComponents/{id1}/surveyItems/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The surveyComponent id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The SurveyItem id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a SurveyItem by the id",
        "description": "Performed by users in order to get specific SurveyItem",
        "operationId": "getSurveyItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing SurveyItem",
        "description": "Performed by a user in order to update the surveyItem",
        "operationId": "updateSurveyItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "SurveyItem object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the SurveyItem"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/label"
                  },
                  "description": "Objects that allow the surveyItem to be displayed in different languages"
                },
                "type": {
                  "type": "string",
                  "description": "Name that identify the type of the surveyItemOption"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItemOption"
                  },
                  "description": "Option that the user can select"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyImage"
                  },
                  "description": "Images that could compose the item"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/rule"
                  },
                  "description": "Rules in order to apply consistency checks"
                },
                "validators": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/validatorItem"
                  },
                  "description": "Object in order to validate the user answers"
                },
                "flowConstraints": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/flowConstraint"
                  },
                  "description": "FlowConstraints to apply"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a SurveyItem by id",
        "description": "Performed by the user in order to delete the SurveyItem from the system",
        "operationId": "deleteSurveyItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyId",
            "required": true,
            "type": "integer",
            "description": "The survey id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveyItems": {
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new SurveyItem",
        "description": "Performed by a user when he wants to create a new SurveyItem",
        "operationId": "addSurveyItem2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          },
          {
            "in": "body",
            "name": "SurveyItem",
            "description": "SurveyItem object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/label"
                  },
                  "description": "Objects that allow the surveyItem to be displayed in different languages"
                },
                "type": {
                  "type": "string",
                  "description": "Name that identify the type of the surveyItemOption"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all surveyItem",
        "description": "Performed by a user in order to get all surveyItem",
        "operationId": "getAllSurveyItems2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/surveyItem"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveyItems/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The SurveyItem id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a SurveyItem by the id",
        "description": "Performed by users in order to get specific SurveyItem",
        "operationId": "getSurveyItem2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing SurveyItem",
        "description": "Performed by a user in order to update the surveyItem",
        "operationId": "updateSurveyItem2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "SurveyItem object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the SurveyItem"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/label"
                  },
                  "description": "Objects that allow the surveyItem to be displayed in different languages"
                },
                "type": {
                  "type": "string",
                  "description": "Name that identify the type of the surveyItemOption"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyItemOption"
                  },
                  "description": "Option that the user can select"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/surveyImage"
                  },
                  "description": "Images that could compose the item"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/rule"
                  },
                  "description": "Rules in order to apply consistency checks"
                },
                "validators": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/validatorItem"
                  },
                  "description": "Object in order to validate the user answers"
                },
                "flowConstraints": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/flowConstraint"
                  },
                  "description": "FlowConstraints to apply"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Delete a SurveyItem by id",
        "description": "Performed by the user in order to delete the SurveyItem from the system",
        "operationId": "deleteSurveyItem2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyItem"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyItem not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/surveyItems/{id}/surveyImages": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "type": "integer",
          "description": "The SurveyItem id"
        }
      ],
      "post": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Add a new SurveyImage",
        "description": "Performed by a user when he wants to create a new SurveyImage",
        "operationId": "addSurveyImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          },
          {
            "in": "body",
            "name": "SurveyImage",
            "description": "SurveyImage object that needs to be added",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "path": {
                  "type": "string",
                  "description": "Link/Path to the image file"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyImage"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get all SurveyImage",
        "description": "Performed by a user in order to get all SurveyImage",
        "operationId": "getAllSurveyImages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/surveyImage"
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/surveyItems/{id1}/surveyImages/{id2}": {
      "parameters": [
        {
          "in": "path",
          "name": "id1",
          "required": true,
          "type": "integer",
          "description": "The SurveyItem id"
        },
        {
          "in": "path",
          "name": "id2",
          "required": true,
          "type": "integer",
          "description": "The SurveyImage id"
        }
      ],
      "get": {
        "tags": [
          "AdminApp",
          "SurveyApp"
        ],
        "summary": "Get a SurveyItem by the id",
        "description": "Performed by users in order to get specific SurveyImage",
        "operationId": "getSurveyImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/surveyImage"
            }
          },
          "400": {
            "description": "Invalid id"
          },
          "404": {
            "description": "SurveyImage not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      },
      "put": {
        "tags": [
          "AdminApp"
        ],
        "summary": "Update an existing SurveyImage",
        "description": "Performed by a user in order to update the SurveyImage",
        "operationId": "updateSurveyImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "surveyComponentId",
            "required": true,
            "type": "integer",
            "description": "The surveyComponent id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "SurveyImage object that needs to be updated",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Number that identify the SurveyItem"
                },
                "title": {
                  "type": "string",
                  "description": "Description for the item"
                },
                "path": {
                  "type": "string",
                  "description": "Link/Path to the image file"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/surveyImage"
            }
          },
          "400": {
            "description": "Invalid id"
[...]
